/*.logo {
    height: 40px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.dropdown-toggle::after {
    display: none;
}   
*/

.logo{
    width: 5em;
}

.navbar{
    padding-left: 4%;
    padding-right: 4%;
}

nav, nav ul li a, span{
    color: white !important;
}

#btnAccount{
    border-radius: 50em;
    padding: 0;
    width: 3em;
}

.navbar-toggler-icon{
    color: white;
}

#searchBar {
    padding-top: 1.5em;
}

#hero{
    margin-bottom: 4em;
}

#jumbotron{
    height: 65vh;
    background-image: url(assets/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

h1{
    font-size: 5em;
    line-height: 0.9;
}

.btnJumbotron{
    margin-top: 1em;
}

.destinationImg{
    width: 5em;
    border-radius: 8px;
}

#destination{
    margin-bottom: 8em;
}


@media (min-width: 420px) AND (max-width: 767px) {
    .col-6 {
        margin-bottom: 1.5em;
    }
    .justify-content-between {
        justify-content: center!important;
    }
    .g-3 {
        --bs-gutter-x: 1rem;
    }
}

@media (min-width: 768px) AND (max-width: 991px) {
    .justify-content-between {
        justify-content: center!important;
    }
    .col-md-4 {
        margin-bottom: 1.5em;
    }
    .g-3 {
        --bs-gutter-x: 1rem;
    }
}

ul {
    list-style-type: none;
}

.fs-6 {
    font-size: .9rem !important;
}

.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) #8c9196 !important;
}    

@media (max-width: 990px) {
    .list-group {
        width: 100%;
        text-align: center;
    }
    #subFooter {
        flex-direction: column;
        text-align: center;
    }
    .copyright {
        text-align: center;
        justify-content: center;
    }
    .social-links {
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .fs-6 {
        font-size: 0.8rem !important;
    }
    p {
        margin-bottom: 0rem;
    }

}

#subFooter{
    padding-left: 2em;
    padding-right: 2em;
}

