

.logo{
    width: 5em;
}

.navbar{
    padding-left: 4%;
    padding-right: 4%;
}

nav, nav ul li a, span{
    color: white !important;
}

#btnAccount{
    border-radius: 50em;
    padding: 0;
    width: 3em;
}

.navbar-toggler-icon{
    color: white;
}

#searchBar {
    padding-top: 1.5em;
}

#hero{
    margin-bottom: 4em;
}

#jumbotron{
    height: 65vh;
    background-image: url(assets/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

h1{
    font-size: 5em;
    line-height: 0.9;
}

.btnJumbotron{
    margin-top: 1em;
}

.destinationImg{
    width: 5em;
    border-radius: 8px;
}
.search-bar {
  display: flex;
  background: white;
  border-radius: 50px;
  padding: 10px;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  max-width: 58%;
  
}

.search-bar div {
  padding: 10px;
  border-right: 1px solid #ddd;
}

.search-bar div:last-child {
  border-right: none;
}

input {
  border: none;
  outline: none;
  font-size: 14px;
}

.icon {
  margin-left: 5px;
  cursor: pointer;
}

.search-button {
  background: #d32f2f;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  height: 20px;
}