@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bi-globe::before {
    content: "\F3EE";
    font-family: "Feather";
    font-size: 1rem;
}

.bi-person-circle::before{
    content: "\F4D7";
    font-family: "Feather";
    font-size: 1.4rem;
    color: #696969;
    padding-top: 0.2rem;
}

@media screen and (max-width: 992px) {
    #navbarSupportedContent {
        margin-right: 0 !important;
    }
    .navbar-brand {
        margin-left: 0 !important;
    }
}

#navbarSupportedContent {
    margin-right: 4rem;
}

#navbarSupportedContent a {
    color: #000;
    text-decoration: none;
    font-size: small;
}

.dropdown-menu[data-bs-popper] {
    left: -125%;
}

.navbar-brand {
    margin-left: 4rem;
}

.navbar-brand > img {
    max-width: 6.5rem;
    max-height: auto;
}

main {
    width: 60%;
    margin: auto;
}

#photos span::before {
    display: block;
    color: #696969;
    content: "\2022";
    margin: 0 0.3rem;
    font-size: 0.8rem;
}

#title p {
    font-size: 0.8rem;
}
.Images :first-child img {
    width: 400px; 
    height: 300px;
}
.Images :nth-child(2) img {
    width: 150px; 
    height: 150px;
}

.bi-box-arrow-up::before {
    content: "\F1C6";
    font-family: "Feather";
    font-size: 1rem;
    color: #696969;
}

.bi-heart::before {
    content: "\F417";
    font-family: "Feather";
    font-size: 1rem;
    color: #696969;
}