@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

p {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    margin: 0 4em;
}
.logo {
    height: 40px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.dropdown-toggle::after {
    display: none;
}    

main {
    width: 65%;
    margin: auto;
}

#photos span::before {
    display: block;
    color: #696969;
    content: "\2022";
    margin: 0 0.3rem;
    font-size: 0.8rem;
}

#title p {
    font-size: 0.8rem;
}

#photos > div.container > div.row img {
    height: 33rem;
    width: 100%;
    object-fit: cover;
}

#photos > div.container > div.row > div.col-12.col-md-6 > div.row > div.col-6 > img {
    object-fit: cover;
    height: 16.5rem;
    width: 100%;
}

.bi-box-arrow-up::before {
    content: "\F1C6";
    font-size: 1rem;
    color: #696969;
}

.bi-heart::before {
    content: "\F417";
    font-size: 1rem;
    color: #696969;
}

#description > div > a {
    color: #696969;
    font-size: small;
    font-weight: bold;
}

.bi-house-door::before {
    content: "\F423";
    font-size: 2rem;
    color: #000000;
    font-weight: bold !important;
}

.bi-stars::before {
    content: "\F589";
    font-size: 2rem;
    color: #000000;
    font-weight: bold !important;
}

.bi-geo-alt::before {
    content: "\F3E8";
    font-size: 2rem;
    color: #000000;
    font-weight: bold !important;
}

.bi-calendar3::before {
    content: "\F214";
    font-size: 2rem;
    color: #000000;
    font-weight: bold !important;
}

.bi-book::before {
    content: "\F194";
    font-size: 2rem;
    color: #000000;
    font-weight: bold !important;
}

#description > div.d-flex.align-items-center {
    margin-top: 4rem;
    gap: 2rem;
}

#description div.d-flex.align-items-center.mb-4 > div.d-flex.flex-column.gap-2 > p:last-of-type {
    font-size: small;
}

.profile > img {
    width: 50px;
}
.recensioni {
   font-size: smaller;
}
