@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

header {
    margin: 0 4em;
}
.logo {
    height: 40px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.dropdown-toggle::after {
    display: none;
}    

main {
    width: 60%;
    margin: auto;
}

#photos span::before {
    display: block;
    color: #696969;
    content: "\2022";
    margin: 0 0.3rem;
    font-size: 0.8rem;
}

#title p {
    font-size: 0.8rem;
}
.Images :first-child img {
    width: 400px; 
    height: 300px;
}
.Images :nth-child(2) img {
    width: 150px; 
    height: 150px;
}

.bi-box-arrow-up::before {
    content: "\F1C6";
    font-family: "Feather";
    font-size: 1rem;
    color: #696969;
}

.bi-heart::before {
    content: "\F417";
    font-family: "Feather";
    font-size: 1rem;
    color: #696969;
}